<%= form_with(model: research_paper) do |form| %>
  <% if research_paper.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(research_paper.errors.count, "error") %> prohibited this research_paper from being saved:</h2>

      <ul>
        <% research_paper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= form.label :paper_name, style: "display: none" %>
    <%= form.text_field :paper_name, class: "form-control input-text", style:"width: 500px", placeholder: "Name of the Paper"  %>
  </div>

  <div class="form-inputs">
    <%= form.label :link, style: "display: none" %>
    <%= form.text_field :link, class: "form-control input-text", style:"width: 500px", placeholder: "Link to the paper" %>
  </div>

  <div class="form-inputs">
    <%= form.label :authors, style: "display: none" %>
    <%= form.text_field :authors, class: "form-control input-text", style:"width: 500px", placeholder: "Names of Authors (seperated with ~)" %>
  </div>

  <div class="form-inputs">
    <%= form.label :style_or_type, style: "display: none" %>
    <%= form.text_field :style_or_type, class: "form-control input-text", style:"width: 500px", placeholder: "Style/Type" %>
  </div>

  <div class="form-inputs">
    <%= form.label :cross_references, style: "display: none" %>
    <%= form.text_area :cross_references, class: "form-control input-text", style:"width: 500px", placeholder: "Cross References (seperated with ~)" %>
  </div>

  <div class="form-inputs">
    <%= form.label :summary, style: "display: none" %>
    <%= form.text_area :summary, class: "form-control input-text", style:"width: 500px", placeholder: "Summary" %>
  </div>

  <div class="form-inputs" style="width: fit-content; margin: auto;">
    <%= form.submit class: "btn btn-success", value: "Update"%>
  </div>
<% end %>
