<%= form_with(model: research_paper) do |form| %>
  <% if research_paper.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(research_paper.errors.count, "error") %> prohibited this research_paper from being saved:</h2>

      <ul>
        <% research_paper.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>

  <fieldset>
    <legend>Basic Info</legend>
    <div class="form-inputs">
      <%= form.label :paper_name, style: "display: none" %>
      <%= form.text_field :paper_name, class: "form-control input-text", style:"width: 500px", placeholder: "Name of the Paper"  %>
    </div>

    <div class="form-inputs">
      <%= form.label :link, style: "display: none" %>
      <%= form.text_field :link, class: "form-control input-text", style:"width: 500px", placeholder: "Link to the paper" %>
    </div>

    <div class="form-inputs">
      <%= form.label :authors, style: "display: none" %>
      <%= form.text_field :authors, class: "form-control input-text", style:"width: 500px", placeholder: "Names of Authors (seperated with ~)" %>
    </div>

    <div class="form-inputs">
      <%= form.label :style_or_type, style: "display: none" %>
      <%= form.text_field :style_or_type, class: "form-control input-text", style:"width: 500px", placeholder: "Style/Type" %>
    </div>

    <div class="form-inputs">
      <%= form.label :cross_references, style: "display: none" %>
      <%= form.text_area :cross_references, class: "form-control input-text", style:"width: 500px; display:none;", placeholder: "Cross References (seperated with ~)" %>
    </div>

    <div class="form-inputs">
      <%= form.label :published_year, style: "display: none" %>
      <%= form.text_field :published_year, class: "form-control input-text", style:"width: 500px", placeholder: "Published Year" %>
    </div>
  </fieldset>

  <br>

  <fieldset>
    <legend>Summary</legend>
    <div class="form-inputs">
      <%= form.label :purpose, style: "display: none" %>
      <%= form.text_area :purpose, class: "form-control input-text", style:"width: 500px", placeholder: "Purpose" %>
    </div>

    <div class="form-inputs">
      <%= form.label :dataset, style: "display: none" %>
      <%= form.text_area :dataset, class: "form-control input-text", style:"width: 500px", placeholder: "Dataset" %>
    </div>

    <div class="form-inputs">
      <%= form.label :method, style: "display: none" %>
      <%= form.text_area :method, class: "form-control input-text", style:"width: 500px", placeholder: "Method" %>
    </div>

    <div class="form-inputs">
      <%= form.label :results, style: "display: none" %>
      <%= form.text_area :results, class: "form-control input-text", style:"width: 500px", placeholder: "Results" %>
    </div>
  </fieldset>

  <div class="form-inputs" style="width: fit-content; margin: auto;">
    <%= form.submit class: "btn btn-success", value: "Submit"%>
  </div>
<% end %>
