<div id="<%= dom_id research_paper %>">
  <p>
    <strong>Paper name:</strong>
    <%= research_paper.paper_name %>
  </p>

  <p>
    <strong>Style or type:</strong>
    <%= research_paper.style_or_type %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= research_paper.authors %>
  </p>

  <p>
    <strong>Link:</strong>
    <p style="word-wrap: break-word;"><%= research_paper.link %></p>
  </p>

  <p>
    <strong>Cross references:</strong>
    <%= research_paper.cross_references %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= research_paper.purpose %>
  </p>

  <p>
    <strong>Dataset:</strong>
    <%= research_paper.dataset %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= research_paper.method %>
  </p>

  <p>
    <strong>Results:</strong>
    <%= research_paper.results %>
  </p>

</div>
