<div id="<%= dom_id research_paper %>">
  <p>
    <strong>Paper name:</strong>
    <%= research_paper.paper_name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= research_paper.link %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= research_paper.authors %>
  </p>

  <p>
    <strong>Style or type:</strong>
    <%= research_paper.style_or_type %>
  </p>

  <p>
    <strong>Cross references:</strong>
    <%= research_paper.cross_references %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= research_paper.summary %>
  </p>

</div>
