<p style="color: green"><%= notice %></p>

<div class="container">



<h1 id="main-heading">Research papers</h1>




<div id="research_papers" class="mycard center-in-screen">
  <div style="height: auto; width:fit-content; margin: auto;">
    <%= link_to "New research paper", new_research_paper_path, :class => "btn btn-success button-control new-button " %>
  </div>
  <div id="sortableList">
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
  <!-- Import JQuery -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


  <%= javascript_include_tag "script" %>


  <script>
  //Global Variables
  var currentPriorityList = '<%=@currPriorityList.priority_list%>';
  console.log("Current Priority List:");
  console.log(currentPriorityList);
  var currentPriorityList = currentPriorityList.split('~');
  var allResearchPapers = []



  checkForPendingPapers();


     <% @research_papers.each do |research_paper| %>
       var researchPaper = new ResearchPaperItem('<%=research_paper.id%>','<%=research_paper.paper_name%>', '<%=research_paper.link%>');
        researchPaper.populateAuthorArray('<%=research_paper.authors%>');


       allResearchPapers.push(researchPaper);
       //list.appendChild(researchPaper.returnListItem());
     <% end %>


     displayPrioritisedList(currentPriorityList);





     function checkForPendingPapers(){
       //Check if we have a pending paper to add to the Priority List
       var counter = 0;

       <% @research_papers.each do |research_paper| %>
        counter = counter+1
       <% end %>
       console.log(counter);
       console.log(currentPriorityList.length);
       if(counter !=0){
         //If we have an extra paper that isn't counted in our priority list
         if(counter-1 == currentPriorityList.length){
           console.log("We have a pending paper");
           addToPriorityList('<%=@recentlyAddedPaper.id%>');
           updatePriorityList(createPriorityListString(currentPriorityList));
           //window.location.reload();
         }
       }
     }
</script>

</div>
