<p style="color: green"><%= notice %></p>

<div class="container">



<h1 id="main-heading">Research Paper Tracker</h1>




<div id="research_papers" class="mycard center-in-screen">
  <div style="height: auto; width:fit-content; margin: auto;">
    <%= link_to "Add a Paper", new_research_paper_path, :class => "btn btn-success button-control new-button " %>
  </div>
  <div id="sortableList">
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
  <!-- Import JQuery -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>





  <script>

    //Global Variables
    var currentPriorityList;
    var allResearchPapers = [];


    //Check if we have a priority_list
    <% if @currPriorityList == nil %>
      createPriorityList();
    <% else %>
      currentPriorityList = '<%=@currPriorityList.priority_list%>';
      console.log("Current Priority List:");
      console.log(currentPriorityList);
      currentPriorityList = currentPriorityList.split('~');
    <% end %>

    //Remove empty element from priority list
    if(currentPriorityList[0]==""){
      currentPriorityList.splice(0,1);
    }


    //If we have papers, check if we've added them to the priority list
    <%  if @firstResearchPaper != nil and @recentlyAddedPaper != nil%>
      checkForPendingPapers();
    <% end %>






  populateResearchPaperObjects();


  displayPrioritisedList(currentPriorityList);

  var dragArea = document.querySelector("#sortableList");
  var sortableList = new Sortable(dragArea, {
      animation: 250,

      onUpdate: function(ev) {

          var prioritisedList = sortableList.toArray();
          //Update Priority List with new Sorting
          console.log("Sorting Changed");
          console.log(prioritisedList);
          var priorityListString = createPriorityListString(prioritisedList);

          console.log("Priority List String: ");
          console.log(priorityListString);

          updatePriorityList(priorityListString);

      },

  });


  function populateResearchPaperObjects(){
    <% @research_papers.each do |research_paper| %>
      var researchPaper = new ResearchPaperItem('<%=research_paper.id%>','<%=research_paper.paper_name%>');
       researchPaper.populateAuthorArray('<%=research_paper.authors%>');
       researchPaper.setLink('<%=research_paper.link%>');
       researchPaper.setStyle('<%=research_paper.style_or_type%>');
       researchPaper.setPurpose('<%=research_paper.purpose%>');
       researchPaper.setMethod('<%=research_paper.method%>');
       researchPaper.setDataset('<%=research_paper.dataset%>');
       researchPaper.setResults('<%=research_paper.results%>');

      allResearchPapers.push(researchPaper);
    <% end %>
  }

  function checkForPendingPapers(){
       //Check if we have a pending paper to add to the Priority List
       var counter = 0;

       <% @research_papers.each do |research_paper| %>
        counter = counter+1;
        console.log("Found a paper");
       <% end %>
       console.log(counter);
       console.log(currentPriorityList.length);
       console.log(currentPriorityList);
       if(counter !=0){
         //If we have an extra paper that isn't counted in our priority list
         if(counter-1 == currentPriorityList.length){
           console.log("We have a pending paper");
           <% if @recentlyAddedPaper != nil%>
            addToPriorityList('<%=@recentlyAddedPaper.id%>');
           <% end %>
           updatePriorityList(createPriorityListString(currentPriorityList));
           //window.location.reload();
         }
       }
     }
</script>

</div>
